/* index.html 실습 */
.yellow-bg {
  background: yellow;
}

.alert-box {
  background: #b6b6ff;
  color: #090992;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.alert-box p {
  display: inline;
}

/* boot.html 실습 */
/* 모달창 */
.black-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5; /* 5이상 써야됨 (bootstrap이 1~4까지 쓰고 있기 때문에, bootstrap의 모든 사항보다 앞에 존재하게 됨) */
  width: 100%;
  height: 100%;
  display: none;
}

.white-background {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

#close {
  background: rgb(221, 17, 17);
  color: white;
}

#email-alert {
  display: none;
}

#password-alert {
  display: none;
}

/* navbar */
.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.nav-sub {
  display: none;
}

/* jumbotron */
.main-background {
  background-image: url(image/white-g0655a9e27_1920.jpg);
  background-size: cover;
  color: black;
  padding: 20px;
  border-radius: 0px;
}
