/* index.html 실습 */
.yellow-bg {
  background: yellow;
}

.alert-box {
  background: #b6b6ff;
  color: #090992;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.alert-box p {
  display: inline;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: rgb(15, 162, 207);
  background-repeat: no-repeat;
}

/* boot.html 실습 */
/* 모달창 */
.black-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5; /* 5이상 써야됨 (bootstrap이 1~4까지 쓰고 있기 때문에, bootstrap의 모든 사항보다 앞에 존재하게 됨) */
  width: 100%;
  height: 100%;
  display: none;
}

.white-background {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

#close {
  background: rgb(221, 17, 17);
  color: white;
}

#email-alert {
  display: none;
}

#password-alert {
  display: none;
}

/* navbar */
.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  width: 100%;
  color: black;
  font-size: 30px;
  transition: all 0.5s;
}

.nav-sub {
  display: none;
  padding: 60px 0;
}

.nav-white {
  background: white;
  color: black;
}

.small-logo {
  font-size: 20px;
}

/* jumbotron */
.main-background {
  background-image: url(image/white-g0655a9e27_1920.jpg);
  background-size: cover;
  color: black;
  padding: 20px;
  border-radius: 0px;
}

.jumbotron {
  width: 100vw;
  height: 70vw;
  padding: 60px;
}

/* img slide */
.slide-container {
  width: 300vw;
  transition: transform 1s;
}

.slide-box {
  width: 100vw;
  height: 60vw;
  float: left;
}

.slide-box img {
  width: 100vw;
}

.slide-next {
  position: absolute;
  top: 45%;
  right: 0;
}

.slide-prev {
  position: absolute;
  top: 45%;
  left: 0;
}

.side-slide {
  font-size: 50px;
}

.bottom-slide {
  position: absolute;
  top: 90%;
  right: 45%;
  font-size: 30px;
}

/* Tap */
ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: "";
  display: block;
  clear: both;
}
.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.active {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}
.show {
  display: block;
}
